body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #f5f5f5 !important;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden;
    color: #555555;
}
.left-bar {
    /*height: 500px;*/
}
.section-padding {
    /*background-color: #fff;*/

}

.card:hover {
    box-shadow: -3px 4px 3px 2px #F2F2F2,3px -4px 3px 2px #F2F2F2;
    z-index: 1;
}

.footer {
    height: 35px;
    padding: 30px;
    background-color: #89beee;
}