body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #f5f5f5 !important;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden;
    color: #555555;
}
.left-bar {
    height: 700px;
}